
$bgcolor: #3B2D48;
$maingreen: #27DE1A;
$dark_green: #136F0D;
$purple: #AA23FF;
$dark_purple: #7819B3;

html {
  background: rgba(59, 45, 72, 1);
}

body {
  min-height: 100%;
  background: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(59, 45, 72, 1));
  font-family: 'Helvetica', Arial, sans-serif;
}

h1 {
  color: $maingreen;
  font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  transform: rotate(-13deg);
  position: relative;
}

h2 {
  color: $purple;
  font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

h3 {
  color: $purple;
  font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  margin-bottom: 4.5rem;
  transform: rotate(-7deg);
}

h4 {
  color: $purple;
  font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.75rem;
  text-decoration: underline;
  margin-top: 1.75rem;
  margin-bottom: 4.5rem;
  transform: rotate(-7deg);
}

.content {
  margin-bottom: 1rem;
}
header {
  min-height: 250px;
}

.services {
  li {
    color: $dark_green;
    font-weight: bold;
    font-size: 1rem;
  }
}

.sidebar-left {
  font-weight: bold;
  background: #000;
}

.main-content {
  color: #a7aaad;
  background: rgba(0, 0, 0, .3);
  padding: 1rem;
}

.main-widget {
  color: $dark_green;
}


.blog {
  &.title {
    font-size: 2.5rem;
    color: $dark_green;
    font-family: "Jolly Lodger", system-ui;
  }
  &.body {
    padding-top: 2rem;
  }
}

byline {
  color: $dark_purple;
}

footer {
  width: 100%;
  margin-top: 2.5rem;
  background: #000;
  min-height: 300px;
}
